[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
debugpy = "*"

[packages]
bs4 = "*"
aiohttp = "*"
requests = "*"
boto3 = "*"
vault-auth = {git = "https://github.com/linaro-its/vault_auth.git"}
gitpython = "*"
google-api-python-client = "1.12.8"
google-auth = "1.23.0"
ldap3 = "*"
metadata-parser = "*"

[requires]
python_version = "3.8"
