[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
bs4 = "*"
aiohttp = "*"
requests = "*"
boto3 = "*"
vault-auth = {git = "https://github.com/linaro-its/vault_auth.git"}
gitpython = "*"
ldap3 = "*"
metadata-parser = "*"

[requires]
python_version = "3.8"
